# Ignore everything
*

# But don't ignore directories, so we can recurse into them
!*/

# But not these files...
!.gitignore
!.zshrc
!.bashrc
!.tmux.conf
!.gdbinit
!.vimrc

# Don't ignore everything in the specific directory
!.oh-my-zsh/**/*
!.vim/**/*


.local/
.vscode/
.zplug/
ctf/
files/

